 * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
 }

 html,
 body {
      width: 100%;
 }

 .common-error {
      font-weight: 400;
      letter-spacing: .30px;
      color: red;
 }